{% extends "base.html" %}

{% load static %}

{% load humanize %}

{% block titulo %}  inicio  {% endblock %}

{% block contenido %} 

<div class="row">
    <div class="col-12 search">
        <div class="card">
            <div class="card-header">
                <form method="get">
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="buscar" name="buscar">
                            <span class="input-group-list">
                                <i class="icon icon-search"></i>
                                <button type="submit" class="btn btn-primary">buscar</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <h4 class="card-title">Lista de anuncios </h4>
                <div class="table-responsive">
                    <table class="table table-primary">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">dueño</th>
                                <th scope="col">imagen</th>
                                <th scope="col">horario</th>
                                <th scope="col">precio</th>
                                <th scope="col">otros</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for publicacion in publicaciones %}
                            <tr class="">
                                <td>{{publicacion.id}}</td>
                                <td>{{publicacion.dueno}}</td>
                                <td>
                                    <img src="{{publicacion.imagen.url}}" height="100"/>
                                </td>
                                <td>{{publicacion.horario}}</td>
                                <td>{{publicacion.precio}}</td>
                                <td><a name="" id="" class="btn btn-primary" href="{% url 'examinar' publicacion.id %}" role="button">examinar</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>   
            </div>
        </div>
    </div>
</div>

{% endblock %}