{% extends "base.html" %}

{% block titulo %}  introducir nuevo anuncio  {% endblock %}

{% block contenido %} 

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h4 class="card-title">auncio de prueba</h4>
                <div class="table-responsive">
                    <table class="table table-primary">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">dueño</th>
                                <th scope="col">horario</th>
                                <th scope="col">descripcion</th>
                                <th scope="col">precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <th scope="col">coso01</th>
                                <th scope="col">coso01</th>
                                <th scope="col">coso01</th>
                                <th scope="col">coso01</th>
                                <th scope="col">coso01</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                
            </div>
        </div>
    </div>
</div>

{% endblock %}