{% extends "base.html" %}

{% block titulo %}  inicio  {% endblock %}

{% block contenido %} 

<div class="row">
    <div class="col-12 search">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <form method="post" action="{% url 'examinar' publicacion_actual.id %}">
                    {% csrf_token %}
                    <img src="{{ publicacion_actual.imagen.url }}" alt="Imagen del anuncio" class="img-fluid mb-3" />
                    <h4>ID: {{ publicacion_actual.id }}</h4>
                    <p>Dueño: {{ publicacion_actual.dueno }}</p>
                    <p>Horario: {{ publicacion_actual.horario }}</p>
                    <p>Precio: {{ publicacion_actual.precio }}</p>
                    <p>Descripcion: {{ publicacion_actual.descripcion }}</p>
                    <p>Estado: {{ publicacion_actual.estado }}</p>
                    <!-- Agrega más campos según sea necesario -->
                
                    <button type="submit" name="arrendar" class="btn btn-primary">Arrendar</button>
                    <button type="submit" name="cancelar" class="btn btn-primary">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}